<!doctype html>
<html>
    <head>
        <title>BeardJS Test</title>
        <style>
            textarea {
                width: 99%;
                height: 300px;
            }
        </style>
    </head>
    <body>
        <textarea id="tpl"><%@ header %>

<p>Hello <%= who.first_name | "John" %>!</p>

<%# This is comment %>

<p>Lorem ipsum dolor sit ament.</p>

<ul>
<% foreach arr %>
    <li>Hello <%= value %> (<%= key %>)!</li>
<% endforeach %>
</ul>

<dl>
<% foreach obj %>
    <dt><%= key %></dt>
    <dd><%= value %></dd>
<% endforeach %>
</dl>

<p>Function call: <%= echo("Hello", "world", 123) %></p>

<%@ footer %></textarea>
<button id="comp">Compile</button>
<hr>
<div id="result"></div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="lib/beard.js"></script>
<script>
    $('#comp').on('click', function () {
        var tpl = $('#tpl').val(),
            data = {
                who: {
                    first_name: 'John',
                    last_name: 'Doe',
                    full_name: function () {
                        return data.who.first_name + ' ' + data.who.last_name;
                    }
                },
                arr: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
                obj: {
                    animal: 'Cat',
                    car: 'BMW',
                    color: 'Purple',
                    fruit: 'Apple'
                },
                echo: function () {
                    var array = Array.prototype.slice.call(arguments, 0);
                    return array.join(' ');
                }
            },
            elements = {
                header: '<h1>This is the special message for <%= who.full_name() %></h1>',
                footer: '<address>Good bye, mr. <%= who.last_name %>!</address>'
            },
            beard = new Beard(tpl, data, elements);

        $('#result').html(beard.render());
    });
</script>
    </body>
</html>
